<div class="container">
  <h1>Listing media objects</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Step</th>
        <th>Image</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @media_objects.each do |media_object| %>
        <tr>
          <td><%= media_object.name %></td>
          <td><%= media_object.step_id %></td>
          <td><%= media_object.image.url %></td>
          <td><%= link_to 'Show', media_object %></td>
          <td><%= link_to 'Destroy', media_object, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
