<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @media_object.name %>
  </p>

  <p>
    <%= image_tag @media_object.image.url(:thumb) %>
  </p>

  <p>
    <strong>Step:</strong>
    <%= @media_object.step_id %>
  </p>

  <%= link_to 'Edit', edit_media_object_path(@media_object) %> |
  <%= link_to 'Back', media_objects_path %>
</div>
