<header class="hck-masthead hck-jumbotron">
  <div class="container">
    <h1 class='big_header'>Makehub</h1>
    <h3 class='build_learn_make'>build - learn - make</h3>
    <h2 class='maker_projects_headline'>maker projects</h2>
  </div><!-- Put a logo here. -->
</header>

<div class="container hck-container">
  <section class="hck-newest-projects">
    <h2>Latest Project Activity</h2>
    <div class="row">
      <% @latest_projects.each do |project| %>
        <article class="span4">
          <% action = (project.created_at == project.updated_at) ? 'created' : 'updated' %>
          <% user = project.user %>
          <p>
            <strong>
              <%= link_to project.name, project_path(project) %>
            </strong>
            <% if action == "updated" %>
              <em>
                - <%= "#{project.steps.size}" %> steps
              </em>
            <% end %>
            <br>
            <small>
              <%= action %> by
              <%= link_to user.name, user_path(user) %>
              (<%= "#{user.projects.size}" %> projects)
            </small>
          </p>
        </article>
      <% end %>
    </div>
  </section>
</div>
