<header class="hck-masthead hck-jumbotron">
  <div class="container">
    <h1>Makehub</h1>
    <p>It's like github. But for makers.</p>
  </div><!-- Put a logo here. -->
</header>

<div class="container hck-container">
  <section class="hck-newest-projects">
    <h2>Latest Project Actions</h2>
    <% @latest_projects.each do |project| %>
      <% action = (project.created_at == project.updated_at) ? 'created' : 'updated' %>
      <% user = project.user %>
      <div>
        <%= link_to project.name, project_path(project) %>
        <%= action %> by
        <%= link_to user.name, user_path(user) %>
      </div>

      <div>
        <%= "#{user.name} has #{user.projects.size} projects" %>
      </div>

      <div>
        <%= "Project description: #{project.description}" %>
      </div>

      <% if action == "updated" %>
        <div>
          <%= "Number of steps: #{project.steps.size}" %>
        </div>
      <% end %>
      <br>
    <% end %>
  </section>
</div>
