<%= form_for(@project) do |f| %>
  <%= render 'project_form_errors' %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit 'Create', :class => 'btn btn-primary' %>
  </div>
<% end %>
