<p id="notice"><%= notice %></p>

<h1><%= @project.name %></h1>

<section class="project-meta">
  <p class="author">
    <strong>Created by:</strong>
    <%= @project.user.name %>
  </p>

  <p class="description">
    <%= @project.description %>
  </p>
</section>

<section class="project-steps">
  <ol>
    <% @project.steps.each_with_index do |step, index| %>
      <li>
        <span class="step-number"><%= index + 1 %></span>
        <%= step.content %>
      </li>
    <% end %>
  </ol>
</section>

<%= link_to 'Edit', edit_project_path(@project) if can_update?(@project) %> |
<%= link_to 'Back', projects_path %>
