<div class="container">
  <p id="notice"><%= notice %></p>
  <h1><%= @project.name %></h1>
  <% if @project.parent %>forked from <%= link_to(@project.parent) do %><%= @project.parent.user.name %>'s <%= @project.parent.name %>  <% end %><% end %>
</div>

<section class="project-meta">
  <div class="container">
    <div class="row">
      <div class="span4">
        <p class="author">
          <strong>Created by:</strong>
          <%= @project.user.name %>
        </p>
        <p class="last_edited">
          <strong>Last edited:</strong>
          <%= @project.updated_at.to_formatted_s(:short) %>
        </p>
        <% if @project.duration %>
          <p class="duration">
            <strong>Estimated time:</strong>
            <%= @project.duration %>
          </p>
        <% end %>
      </div>
      <div class="span4">
        <% if @project.price %>
          <p class="price">
            <strong>Price:</strong>
            <%= @project.price %>
          </p>
        <% end %>
        <% if @project.skills %>
          <p class="skills">
            <strong>Skills:</strong>
            <%= @project.skills %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <p class="project_actions">
    <% btn_class = "btn #{'btn-primary secondary-color' unless can_update?(@project)}" %>
    <%= fork_btn_for(@project, class: btn_class) %>
    <%= link_to 'edit', edit_project_path(@project), class: 'btn btn-primary secondary-color' if can_update?(@project) %>
  </p>


  <%= render 'project_steps' if @project.has_steps? %>

  <% if @project.license %>
    <p class="license span12">
      <strong>License:</strong>
      <%= link_to @project.license, 'https://creativecommons.org/licenses/' %>
    </p>
  <% end %>
</div>
