<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @medium.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @medium.url %>
</p>

<p>
  <strong>Step:</strong>
  <%= @medium.step_id %>
</p>

<%= link_to 'Edit', edit_medium_path(@medium) %> |
<%= link_to 'Back', media_path %>
