<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @material.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @material.url %>
</p>

<p>
  <strong>Photo url:</strong>
  <%= @material.photo_url %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
