<%= form_for([@project, @step]) do |f| %>
  <% if @step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% @step.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit 'save step', :class => 'btn btn-primary' %>
  </div>
  <div class="field">
    <% step_label = "-- Step #{(f.object.position + 1)}" unless f.object.new_record? %>
    <%= f.label :name, "Title #{step_label}" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content, "Instructions #{step_label}" %>
    <%= f.text_area :content, rows: 5 %>
  </div>
  <% if @step.media_objects.count > 0 %>
    <%= f.fields_for :media_objects do |mo_f| %>
      <%= render 'media_object_fields', f: mo_f %>
    <% end %>
    <%= link_to_add_fields "Add another picture", f, :media_objects %>
  <% else %>
    <%= link_to_add_fields "Add picture", f, :media_objects %>
  <% end %>
<% end %>
