<div class="navbar navbar-fixed-top makehub-nav">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Makehub", root_path, :class => 'brand' %>
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <%= nav_link 'Explore', projects_path %>
          <% if signed_in? %>
            <%= nav_link 'Add New Project', new_project_path, class: "hck-new-project-link" %>
            <%= nav_link 'My Labs', user_projects_path(current_user) %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user icon-white"></i>
                <%= current_user.name %>
                <i class="caret"></i>
              </a>
              <ul class="dropdown-menu">
                <%= nav_link "My Account", user_path(current_user) %>
                <li class="divider"></li>
                <li><%= link_to "Log Out", signout_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li class='account_sign_in'><%= link_to "Account", "/auth/google_oauth2" %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
